:root {
	--pixel-size: 3;
	--hero-size: 1.5;
	--heroHp-size: 1.5;
	--enemyHp-size: 1.5;
	--flask-size: 0.5;
 }
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	overflow-y: hidden;
	user-select: none;
	/* pointer-events: none; */
	width: 100%;
	height: 100vh;
	background-image: url("../sprite/dungeon/1Dun.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
 img{
	pointer-events: none;
}
 .click__count, .best__score{
	padding: 2px 0;
	top: 10px;
	right: 10px;
	position: absolute;
	width: 200px;
	height: 70px;
	color: white;
    border: 5px solid hsl(184deg 12% 77%);
    background-color: #495054;
	text-align: center;
 }
 .click__count div{
	font-size: 35px;
 }

 .best__score{
	top: 100px;
 }

 .best__score div{
	font-size: 35px;
	font-weight: bolder;
	color:  #ffeb3b;
 }
.hero{
	position: absolute;
	top: calc(100% - ((265px * var(--hero-size)) / 2));
	left: 50%;
	width: calc(430px * var(--hero-size));
	height: calc(270px * var(--hero-size));
	transform: translate(-50%, -50%);
	overflow: hidden;
}
.hero__sprite {
	position: absolute;
	height: calc(1100px * var(--hero-size));
	transform: translate3d(0px, 0px, 0);
	image-rendering: pixelated;
}

.hero__hpBar{
	padding: calc(55px * var(--heroHp-size)) 0;
	position: fixed;
	bottom: 2%;
	right: 40px;
	width: calc(150px * var(--heroHp-size));
	height: calc(150px * var(--heroHp-size));
	border-radius: 50%;
	text-align: center;
	font-size: calc(40px * var(--heroHp-size));
	overflow: hidden;
    border: 5px solid hsl(184deg 12% 77%);
}

.hpBarHero{
	top: 0%;
	left: 0%;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: calc(150px * var(--heroHp-size));
	transform: translateY(0px);
	background-color: rgb(124, 19, 19);
	transition: transform 0.5s;
}


.character {
	margin: 0 auto;
	position: relative;
	width: calc(230px * var(--pixel-size));
	height: calc(190px * var(--pixel-size));
	overflow: hidden;
}
.character__enemySpritesheet {
	width: calc(2760px * var(--pixel-size));
	transform: translate3d(0px, 0px, 0);
	animation: move_enemy 1s steps(12) infinite;
	image-rendering: pixelated;
}

.character_hpBar{
	z-index: 2;
	position: absolute;
	padding: calc(7px * var(--enemyHp-size)) 0;
	width: 300px;
	top: 12%;
	left: 50%;
	height: calc(50px * var(--enemyHp-size));
	border-radius: calc(50px * var(--enemyHp-size));
	transform: translate(-50%, 0%);
	text-align: center;
	font-size: calc(30px * var(--enemyHp-size));
	overflow: hidden;
	border: 5px solid hsl(184deg 12% 77%);
}
.hpBarEnemy{
	top: 0%;
	left: 0%;
	z-index: -1;
	position: absolute;
	height: calc(50px * var(--enemyHp-size));
	background-color: rgb(124, 19, 19);
	transition: 0.5s;
}

.hero__attack{
	animation: hero_attack 300ms steps(4) infinite;
}

.hit{
	animation: hit_enemy 1s steps(1);
}

.attack{
	animation: attack_enemy 1s steps(12) infinite;
}

.death{
	animation: death_enemy 1.3s steps(12);
	animation-fill-mode: forwards;
}

@keyframes hero_attack {
	from{
		transform: translate3d(0px, 0px, 0);
	}

	to{
		transform: translate3d(0px, -100%, 0);
	}
}

@keyframes move_enemy {
	from{
		transform: translate3d(0px, 0px, 0);
	}

	to{
		transform: translate3d(-100%, 0px, 0);
	}
}

@keyframes hit_enemy {
	from{
		transform: translate3d(0px, calc(-190px * var(--pixel-size)), 0);
	}

	to{
		transform: translate3d(0px, calc(-190px * var(--pixel-size)), 0);
	}
}

@keyframes attack_enemy {
	from{
		transform: translate3d(0px, calc(-380px * var(--pixel-size)), 0);
	}

	to{
		transform: translate3d(-100%, calc(-380px * var(--pixel-size)), 0);
	}
}

@keyframes death_enemy {
	from{
		transform: translate3d(0px, calc(-570px * var(--pixel-size)), 0);
	}

	to{
		transform: translate3d(-100%, calc(-570px * var(--pixel-size)), 0);
	}
}

.muteAll{
	position: absolute;
    bottom: 10px;
    left: 10px;
	width: 50px;
	height: 50px;
	background-image: url('../sprite/muted_icon/yes_sound.png');
	background-position: center center;
	background-size: contain;
	border-radius: 50%;
}

.muteAll:hover{
	transform: scale(110%);
}
.muteAll:active{
    transform: translateY(2px);
}

.esc__menu{
	margin: 10px;
	color: #36395A;
	font-family: "JetBrains Mono",monospace;
}
.button {
	border: 5px solid hsl(184deg 12% 77%);
    color: white;
    width: 80px;
    align-items: center;
    appearance: none;
    background-color: #495054;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button:focus {
	box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button:hover {
	transform: translateY(-2px);
  }
  
  .button:active {
	box-shadow: #D6D6E7 0 3px 7px inset;
	transform: translateY(2px);
  }

  .flaskaOfHeal{
	z-index: 5;
	bottom: 2%;
	right: 280px;
	position: absolute;
	width: calc(270px * var(--flask-size));
	height: calc(320px * var(--flask-size));
	overflow: hidden;
  }

  .flaskaOfHeal img{
	height: calc(1290px * var(--flask-size));
  }